.selectBar {
  background-color: rgb(204, 204, 204);
  width: 90%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .selectBar {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .selectBar {
    width: 600px;
  }
}
